.list-group{
  justify-content: right;
    grid-template-columns: repeat(2,600px);
    display: grid;
    gap: 30px;
    align-items: center;
    margin: 2% 8%;
} 

@media (max-width: 1000px) {
  .list-group{
    grid-template-columns: repeat(2,350px);
  }
}
@media (max-width: 500px) {
  .list-group{
    grid-template-columns: repeat(1,350px);
  }
}
.card {
  width: 88%;
  justify-content: center;
  height: 97%;
  border-radius: 4%;
}
.card-rating-price {
  display: flex;
  justify-content: space-between;
}
.card-rating {
  font-size: 160%;
  color: goldenrod;
}
.card-text {
  text-align: justify;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.pagination {
  justify-content: center;
}

.login {
  width: 100%;
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.login-inputs {
  width: 64vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  
}
input{
  margin: 4%;
}
button{
  margin: 4%;
  width: 64%;
}
small{
color: red;
}
.logout{
  margin-bottom: 0.72%;
}

.footer{
  display: flex;
    justify-content: space-between;
    margin: 0.4%;
}
.footer-icons{
  text-align: justify;
  font-size: 120%;
}